@import url("https://fonts.googleapis.com/css?family=Poppins:400&display=swap");
* {
  margin: 0;
  padding: 0;
 
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.article__main{
  display:flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}
.article_view {
    width: 100%;
    margin: 30px auto;
  }
  .article_view img {
    width: 100%;
    margin: 8px 0px;
  }
  .article__part{
    width: 35%;
    padding:133px 30px;
  }
  .article_view h1 {
    font-size: 44px;
    padding: 0;
    margin: 0px 0px;
  }
  .article_author {
    display: flex;
    margin: 8px 0px;
  }
  .article_view h1,h2,h3,h4,h5,h6 {
    margin: 5px 0px;
  }
  
  .content{
         font-size: 30px!important;
  }
  .article_view p a {
    color: #48c290 !important;
  
  }
  .article_view ul,.article_view ol{
      margin : 8px 4%;
  }


  /* Cards */
  .card {
    float: left;
    width: calc(33% - 20px);
    padding: 20px;
    margin: 10px 10px;
    height: auto;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    cursor: arrow;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #48c290;
  
    overflow:hidden;
  }
  .card:hover{
    overflow:hidden;
    background-color :rgba(187, 196, 196, 0.1);
  }
  .card .right {
    float: right;
    margin: 35px 0px;
  }
  .card i {
    font-size: 70px;
    color: #e3e7e7;
  }
  .card .left {
    float: left;
    margin: 0px 5px;
  }
  .card .left p {
    font-size: 14px;
  }
  
  .card .left button {
    background-color: #fdfdfd;
    color: #48c290;
    border: none;
    border: 2px solid #48c290;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 10px;
    margin-top: 10px;
    border-radius: 2px;
  
  }
  .card .left button:hover {
    transition:0.4s ease-in;
    background-color: #48c290;
    color: #fdfdfd;
  }
  /* .card p {
      font-size: 12px;
      margin: 3px 0px;
   } */
  
  .card:hover {
    cursor: pointer;
  }
  
  .cardContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .cardContainer {
    width: 90%;
    height: auto;
    margin: 25px auto;
    padding: 0 10px;
  }



  @media (max-width: 858px) {


    .cardContainer {
      width: 87%;
      height: auto;
    }
    .card p {
      font-size: 14px;
    }
    .article__main{
      display:flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 90%;
    }
    .article_view {
      width: 100%;
    }
    .article_view h1 {
      font-size: 24px;
    }
    .article_view h2 {
      font-size: 18px;
    }
    .article_author .author_right {
      margin: 18px 10px;
    }
    .article_author .author_right p {
      font-size: 13px;
    }
    .light {
      margin: -6px -5px 0 0;
      font-size: 14px;
    }
    .article_view img {
      width: 100%;
      margin: 10px 0px;
    }

  }