<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}

    <title>{{post.title}}</title>
</head>
<body>

    {% include 'components/nav.html' %}
    <div class="article__main container">
        <div class="article_view">
          <h1>{{post.title}}</h1>
          <p class="light">Published on {{post.date}} by {{post.author}}</p>
      
          <img
            src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{post.image}}"
            alt=""
          />
      
          <p class="content">{{post.content|safe}}</p>
      
          <br/>
        {% if  request.user.is_authenticated %}
        <div>
          <a type="button" class="btn btn-outline-primary py-2" id="like_btn" href="{% url 'likesPost' slug=post.slug %}">Upvote <i class="bi bi-caret-up-fill"></i> | {{likes}}</a>
          <button type="button" class="btn btn-outline-primary py-2 mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Comment
           </button>
          <br />
          <br />
          <h4>Comments</h4>
          {% for i in comments %}
           <div class="comment__ui my-3">
               <h5 class="m-0 p-0">{{i.text}}</h5>
               <p>-{{i.user.first_name}} {{i.user.last_name}}</p>
           </div>
           {% endfor %}
          <div>
             </div>
             {% else %}
             <div class="alert alert-dismissible alert-danger">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <!-- <h4 class="alert-heading">Warning!</h4> -->
              <p class="mb-0">Please login for Like and Comment <a href="{% url 'signin' %}">Signin</a></p>
            </div>
        
             {% endif %}
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Comment Now</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form  method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleTextarea" class="form-label mt-4">Write Comment</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3" name="comment"></textarea>
                          </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-outline-primary">Add Comment</button>
                    </form>

                    </div>
                  </div>
                </div>
              </div>
          </div>
          {% include 'components/js.html' %}

</html>