<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
    <title>Home</title>
</head>

<body>

    {% include 'components/nav.html' %}

      <div class="cardContainer container">

        {% for i in posts %}
        <a href="{% url 'article' slug=i.slug %}">
      <div class="card">
        <img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{i.image}}" alt="" />
        <div class="detail">
            <h3 class="pt-2">{{i.title}}</h3>
            <p>By {{i.author }} on {{i.date}} </p>
    
      
    
    <button class="btn btn-outline-primary py-2">Read Now</button>
        </div>
      </div>
    </a>
      {% endfor %}
    
    
    </div>






    {% include 'components/js.html' %}
        
</body>

</html>